<section class="reasons">
    <div class="reasons__wrapper">
        <div class="reasons-title">
            <h2>3 reasons to purchase
            </h2>
        </div>
        <div class="box1">
            <h3 class="box1__title">Ud sed metus</h3>
            <p class="box1__text">Lorem ipsum dolor sit, amet consectetur.</p>
        </div>

        <div class="box2">
            <h3 class="box2__title">Curabitur ac erat</h3>
            <p class="box2__text">Mauris mattis urna quis lorem molestie.</p>
        </div>

        <div class="box3">
            <h3 class="box3__title">Morbi dictum</h3>
            <p class="box3__text">Aliquam in dolor et dolor tincidunt.</p>
        </div>

        <div class="button">
            <button class="button__btn">
                <a class="more-reasons" href="#">
                    <p class="button__btn--text">More reasons</p>
                </a>
            </button>
        </div>
    </div>
</section>