.newsection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $orangeDeco;
}
.link, .proxy {
    color: white;
}

@media (min-width: 768px){
    .newsection {

        flex-direction: row;
        justify-content: space-between;
        background-color: $dark-grey-blue;
    }
    .proxy, .link {
        margin: 0 20px 0 20px;
    }


}