.header {
    width: 40px;
    height: 40px;
    margin: 0 94px 240px 0;
    padding: 15px 14px;
    background-color: #0271bc;
}
.img-header {
    width: 16px;
    height: 14px;
    object-fit: contain;
}