.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("cover.jpg");
    background-color: burlywood;
  }
  /*
  .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  */
  .title {
      width: 290px;
      height: 110px;
      text-align: center;
      color: white;
      background-color: aquamarine;
  }
  .hero-text {
      width: 290px;
      min-height: 21px;
      color: white;
      text-align: center;
  }
  .hero-btn {
      background-color: white;
      border-radius: 50%;
      border: none;
      width: 45px;
      min-height: 45px;
      display: block;
      
  }